@import'./reset';

#wrapper {
    position: relative;
    overflow-x: hidden;
    background-color: #323264;
    background: linear-gradient(to left bottom, #323264, #323264, #643E72);
    font-family: TT Norms;
}

.content {
    margin: 0 20px;
    
    @media (min-width: 1440px){
        width: calc(100% - 120px);
        height: 100vh;
        margin: 0 60px;
    }
}
   
.servicesHeader {
    margin: 0 0 20px;

   @media (min-width: 1440px){
    margin: 0 0 68px;
    }

li {
    margin-bottom: 3px;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;    
}
   
a {
    text-decoration: none;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 0.5; 
}

a:hover {
    background: #FFFFFF;
    color:#323264;
    transition: color 2s ease;
    -webkit-transition: color 2s ease;
    -moz-transition: color 2s ease;
    -ms-transition: color 2s ease;
    -o-transition: color 2s ease;
} 

h2 {
    width: calc(100% - 40px);
    min-height: 76px;   
    font-size: 32px;
    line-height: 37px;
    color: black;
    background-clip:text;
    background: linear-gradient(45deg, #F0145A, #EF8080);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @media (min-width: 1440px) {
        font-size: 42px;
        min-height: 50px;  
    }
}
}

    .servicesBlock {
    @media (min-width: 1440px){
    
        .servicesBlockLine1, .servicesBlockLine2 {
        display: flex;
        justify-content: space-between;
        }
    }
}

    .servicesBlockColumn {
        width: 100%;
        margin-bottom: 40px;

     @media (min-width: 1440px){
        width: 413px;
    }
      
}

    .servicesBlockColumnIcon {  
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 10px;

        @media (min-width: 1440px){
        flex-direction: column;
        align-items: flex-start;
        }
    }

        h4 {
        width: calc(100% - 114px);
        color:  #24A3FF;
        margin-left: 10px;
        font-size: 18px;
        line-height: 21px;

        @media (min-width: 1440px) {
            margin-left: 0;
            width: auto;
            margin-bottom: 15px;
        }
    }
    
        p {
            color: white;
            font-size: 16px;
            line-height: 22px;

            @media (min-width: 1440px) {
                font-size: 18px;
                line-height: 26px;
            }
        }

    picture {
        display: flex;
        background-color: white;
        border-radius: 18px;
        -webkit-border-radius: 18px;
        -moz-border-radius: 18px;
        -ms-border-radius: 18px;
        -o-border-radius: 18px;
        width: 64px;
        height: 64px;

        @media (min-width: 1440px){
            width: 92px;
            height: 92px;
            justify-content: center;
            align-items: center;
            margin:0 20px 20px;
        }

        img {
            padding: 10px;

        @media (min-width: 1440px) {
                width: 64px;
                height: 64px;
                padding: 0;
            }
        }
    }
